.header {
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: colorAnimation 8s ease-in-out infinite;
  padding-bottom: 30px;
}
.header .head-title {
  display: flex;
  gap: 20px;
}
.header .head-title .logoContainer {
  margin: 30px 0px 0px 30px;
  user-select: none;
  outline: 3px solid white;
  max-width: fit-content;
  display: flex;
  gap: 5px;
  padding: 3em 4em 0.5em 0.5em;
  border-radius: 10px;
}
.header .head-title .logoContainer p {
  padding: 10px;
  background-color: aqua;
  margin: 0px;
  border-radius: 10px;
}
.header .head-title .title {
  margin-top: 30px;
}
.header .navContainer {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(45deg, #2dffe5, #89ff00, #0b71de, #dc2a54);
  background-size: 300% 300%;
  animation: colorAnimation 4s ease-in-out infinite;
  margin: 30px 30px 0px 30px;
  border-radius: 10px;
}
.header .navContainer a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  z-index: 0;
  padding: 10px 0px;
  cursor: pointer;
}
.header .navContainer a:hover {
  color: white;
}
.header .navContainer a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scaleY(2);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  z-index: -1;
}
.header .navContainer a:hover::before {
  transform: scaleY(1);
  opacity: 1;
}
@keyframes colorAnimation {
  0% {
    background-position: 0 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.main .upperSection img {
  max-width: 100%;
}
.main .upperSection .btnGroup {
  display: flex;
  justify-content: center;
  position: relative;
}
.main .upperSection .btnGroup div {
  position: absolute;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  top: -26px;
  box-shadow: wheat 0px 0px 10px 0.9px;
}
.main .upperSection .btnGroup div button {
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  background-color: #0b71de;
  cursor: pointer;
}
.main .upperSection .btnGroup div button:hover {
  background-color: yellow;
  color: black;
}
.main .reviewSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 20px 100px 20px;
  gap: 20px;
}
.main .reviewSection .commentCard {
  display: flex;
  align-items: center;
}
.main .reviewSection .commentCard .commenterImg {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.main .reviewSection .commentCard .commentInfoCard {
  display: grid;
  align-content: space-between;
  background-color: rgba(208, 198, 198, 0.634);
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  padding: 10px 5px 5px 25px;
}
.main .reviewSection .commentCard .commentInfoCard p {
  padding: 0px;
  margin: 5px;
}
.main .reviewSection .commentCard .commentInfoCard .dote {
  top: 32%;
  left: -16px;
  position: absolute;
  height: 2em;
  width: 2em;
  background-color: rgb(208, 198, 198);
  border-radius: 50%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  margin-bottom: 800px;
}

/*# sourceMappingURL=main.css.map */
