.header {
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: colorAnimation 8s ease-in-out infinite;
  padding-bottom: 30px;
}
.header .head-title {
  display: flex;
  gap: 20px;
}
.header .head-title .logoContainer {
  margin: 30px 0px 0px 30px;
  user-select: none;
  outline: 3px solid white;
  max-width: fit-content;
  display: flex;
  gap: 5px;
  padding: 3em 4em 0.5em 0.5em;
  border-radius: 10px;
}
.header .head-title .logoContainer p {
  padding: 10px;
  background-color: aqua;
  margin: 0px;
  border-radius: 10px;
}
.header .head-title .title {
  margin-top: 30px;
}
.header .navContainer {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(45deg, #2dffe5, #89ff00, #0b71de, #dc2a54);
  background-size: 300% 300%;
  animation: colorAnimation 4s ease-in-out infinite;
  margin: 30px 30px 0px 30px;
  border-radius: 10px;
}
.header .navContainer a {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  z-index: 0;
  padding: 10px 0px;
  cursor: pointer;
}
.header .navContainer a:hover {
  color: white;
}
.header .navContainer a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scaleY(2);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
  z-index: -1;
}
.header .navContainer a:hover::before {
  transform: scaleY(1);
  opacity: 1;
}
@keyframes colorAnimation {
  0% {
    background-position: 0 20%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.main .titlePopular {
  place-self: center;
}
.main .upperSection img {
  max-width: 100%;
  min-width: 100%;
}
.main .upperSection .btnGroup {
  display: flex;
  justify-content: center;
  position: relative;
}
.main .upperSection .btnGroup div {
  position: absolute;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  top: -26px;
  box-shadow: wheat 0px 0px 10px 0.9px;
}
.main .upperSection .btnGroup div button {
  padding: 15px 20px;
  border: none;
  font-weight: bold;
  background-color: #0b71de;
  color: white;
  cursor: pointer;
}
.main .upperSection .btnGroup div button:hover {
  background-color: yellow;
  color: black;
}
.main .reviewSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px 20px 100px 20px;
  gap: 20px;
}
.main .reviewSection .commentCard {
  display: flex;
  align-items: center;
}
.main .reviewSection .commentCard .commenterImg {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.main .reviewSection .commentCard .commentInfoCard {
  display: grid;
  align-content: space-between;
  background-color: rgba(208, 198, 198, 0.634);
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  padding: 10px 5px 5px 25px;
}
.main .reviewSection .commentCard .commentInfoCard p {
  padding: 0px;
  margin: 5px;
}
.main .reviewSection .commentCard .commentInfoCard .dote {
  top: 32%;
  left: -16px;
  position: absolute;
  height: 2em;
  width: 2em;
  background-color: rgb(208, 198, 198);
  border-radius: 50%;
}

.cardSection {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-content: center;
}
.cardSection .card {
  cursor: pointer;
  box-shadow: black 0px 0px 5px 0.2px;
  user-select: none;
  display: grid;
  background-color: #20e2d7;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.1s ease-in-out;
}
.cardSection .card:hover {
  box-shadow: red 0px 0px 10px 2px;
  transform: scale(1.03);
}
.cardSection .card .cardImg {
  max-width: 100%;
}
.cardSection .card .cardInfo {
  padding: 0px 10px 10px 10px;
  display: grid;
}
.cardSection .card .cardInfo .name-tag {
  display: flex;
  justify-content: space-between;
}
.cardSection .card .cardInfo .name-tag .cardName {
  font-weight: bold;
}
.cardSection .card .cardInfo .stars-participents {
  display: flex;
  justify-content: space-between;
}
.cardSection .card .cardInfo .stars-participents .participants {
  margin: 0px;
}
.cardSection .card .cardInfo .des {
  width: 400px;
}
.cardSection .card .cardInfo .des .cardDescription {
  overflow-wrap: break-word;
}
.cardSection .card .cardInfo .cardBtn {
  padding: 10px 20px;
  place-self: center;
  justify-self: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f8fff8;
  box-shadow: black 0px 0px 2px 0.6px;
  font-weight: bold;
}
.cardSection .card .cardInfo .cardBtn:hover {
  box-shadow: black 0px 0px 0px 0px;
  background-color: chartreuse;
  color: white;
}

.btnGroupMid {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btnGroupMid button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: black 0px 0px 3px 0.5px;
  cursor: pointer;
}
.btnGroupMid button:hover {
  box-shadow: blue 0px 0px 8px 3px;
  color: blue;
}

.storySection {
  display: grid;
}
.storySection hr {
  margin: 20px 0px;
  border: 0.2px solid #000;
  display: grid;
}
.storySection h2 {
  place-self: center;
}
.storySection p {
  margin: 0px 50px;
  padding: 20px;
}
.storySection button {
  place-self: center;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.lowerSection {
  margin: 0px 10px 10px 10px;
  overflow: hidden;
  border-radius: 50px;
}
.lowerSection .containerUp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.lowerSection .containerUp img {
  max-width: 100%;
}
.lowerSection .containerUp .infoContainer {
  padding: 50px;
  display: grid;
  align-content: space-between;
  background-color: #20e2d7;
}
.lowerSection .containerUp .infoContainer .bookBtn {
  padding: 10px 20px;
  place-self: center;
  justify-self: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f8fff8;
  box-shadow: black 0px 0px 2px 0.6px;
}
.lowerSection .containerUp .infoContainer .bookBtn:hover {
  box-shadow: black 0px 0px 0px 0px;
  background-color: chartreuse;
  color: white;
}
.lowerSection .containerDown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.lowerSection .containerDown img {
  max-width: 100%;
}
.lowerSection .containerDown .infoContainer {
  padding: 50px;
  display: grid;
  align-content: space-between;
  background-color: #20e2d7;
}
.lowerSection .containerDown .infoContainer .bookBtn {
  padding: 10px 20px;
  place-self: center;
  justify-self: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f8fff8;
  box-shadow: black 0px 0px 2px 0.6px;
}
.lowerSection .containerDown .infoContainer .bookBtn:hover {
  box-shadow: black 0px 0px 0px 0px;
  background-color: chartreuse;
  color: white;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .footer-container .footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}
.footer .footer-container .footer-section h3 {
  margin-bottom: 10px;
}
.footer .footer-container .footer-section p,
.footer .footer-container .footer-section ul,
.footer .footer-container .footer-section a {
  color: #fff;
}
.footer .footer-container .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-container .footer-section ul li {
  margin: 5px 0;
}
.footer .footer-container .footer-section ul a {
  text-decoration: none;
}
.footer .footer-container .footer-section ul a:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-section .social a {
  margin-right: 10px;
  color: #fff;
  font-size: 1.5em;
}
.footer .footer-container .footer-section .social a:hover {
  color: #20e2d7;
}
.footer .footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
}
.footer .footer-bottom p {
  margin: 0;
}

#contact-page-body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, white 50%, blue 50%);
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: #101827 0px 0px 4px 0.08px;
}
.mainSection .container-right {
  background: conic-gradient(at top right, lightcyan, lightblue);
  height: 70vh;
  width: 40vw;
  border-radius: 0px 30px 30px 0px;
}
.mainSection .container-right .input-forms {
  display: grid;
  padding: 20px 50px 0px 50px;
  gap: 20px;
}
.mainSection .container-right .input-forms .name-form {
  position: relative;
}
.mainSection .container-right .input-forms .name-form .label-input-name {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  padding: 0px 5px;
}
.mainSection .container-right .input-forms .name-form .input-name {
  padding: 10px;
  border-radius: 10px;
  border-width: 2px;
  border: solid black;
  outline: none;
  min-width: 90%;
}
.mainSection .container-right .input-forms .name-form .input-name:not(:placeholder-shown) + .label-input-name {
  top: 0;
  left: 15px;
  font-size: 0.8em;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .name-form .input-name:focus ~ .label-input-name {
  top: 0;
  left: 15px;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .email-form {
  position: relative;
}
.mainSection .container-right .input-forms .email-form .label-email {
  position: absolute;
  top: 45%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  padding: 0px 5px;
}
.mainSection .container-right .input-forms .email-form .input-email {
  padding: 10px;
  border-radius: 10px;
  min-width: 90%;
  outline: none;
  border-width: 2px;
  border: solid black;
}
.mainSection .container-right .input-forms .email-form .input-email:focus ~ .label-email {
  top: 0;
  left: 15px;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .email-form .input-email:not(:placeholder-shown) + .label-email {
  top: 0;
  left: 15;
  font-size: 0.8em;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .number-form {
  position: relative;
}
.mainSection .container-right .input-forms .number-form .label-number {
  position: absolute;
  top: 45%;
  left: 15px;
  pointer-events: none;
  transform: translateY(-45%);
  transition: 0.3s;
  padding: 0px 5px;
}
.mainSection .container-right .input-forms .number-form .input-number {
  padding: 10px;
  min-width: 90%;
  border-width: 2px;
  border: solid black;
  outline: none;
  border-radius: 10px;
}
.mainSection .container-right .input-forms .number-form .input-number:focus ~ .label-number {
  top: 0;
  left: 15px;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .number-form .input-number:not(:placeholder-shown) + .label-number {
  top: 0;
  left: 15px;
  font-size: 0.8em;
  background: linear-gradient(to top, white 50%, #bce3ed 50%);
}
.mainSection .container-right .input-forms .message-form {
  display: grid;
  padding-right: 15px;
}
.mainSection .container-right .input-forms .message-form .input-message {
  max-width: 94%;
  min-height: 100px;
  border-radius: 5px;
  border-width: 2px;
  border: solid black;
  padding: 10px;
}
.mainSection .container-right .input-forms .submit-btn {
  max-width: fit-content;
  place-self: center;
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  background-color: azure;
  box-shadow: #101827 0px 0px 4px 0.08px;
}
.mainSection .container-right .input-forms .submit-btn:hover {
  background-color: blueviolet;
  color: white;
}
.mainSection .container-right .input-forms .lorem {
  display: flex;
  justify-content: space-between;
}
.mainSection .container-right .input-forms .lorem div {
  display: flex;
}
.mainSection .container-right .input-forms .lorem div p {
  margin: 0px;
  padding-left: 5px;
  cursor: pointer;
}
.mainSection .container-left {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  height: 70vh;
  width: 25vw;
  border-radius: 30px 0px 0px 30px;
  overflow: hidden;
}
.mainSection .container-left .phone-img {
  border-radius: 0px;
  animation: hanging 3s infinite ease-in-out;
  transform-origin: top center;
}

@keyframes hanging {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(10deg);
  }
  100% {
    transform: translateY(-100px) rotate(0deg);
  }
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
